/* CAROUSEL */

.image-carousel {
	margin: 0 auto;
	overflow: hidden;
  position: relative;
	width: 800px;

	> div {
	  visibility: visible;
	  position: relative;
	  z-index: 2;
	  /* if the vertical option is set to true, the following would be height */
	  width: 800px; /* calculated: width of the first li * number of visible items */

	  > ul {
		  margin: 0;
		  padding: 0;
		  position: relative;
		  list-style-type: none;
		  z-index: 1;

		  /* if the vertical option is set to true, the following would be height */
		  /* can be any number larger than total combined width of list items */
		  width: 8000px; /* calculated: width of the first li * total number of list items */

		  /* if the vertical option is set to true, the following would be margin-top */
		  margin-left: -800px; /* calculdated: -starting item * width of first li */

		  > li {
			  overflow: visible; /* if vertical: true, overflow is hidden */
			  float: left; /* if vertical: true, float is none */
			  width: 800px; /*calculated: width of the first li */
			  height: 600px; /*calculated: height of the first li */
			}
		}
	}
}

.image-carousel--full-bleed {
  max-width: 1440px;
  width: 100%;

  > div {
    width: 100%;

    > ul {
      margin-left: -100%;
      width: 1000%;

      > li {
        width: 10%;
        height: auto;
      }
    }
  }
}

.carousel-arrow {
  @include transition(all .2s);
  @include user-select(none);
  color: rgba(255, 255, 255, .4);
  cursor: pointer;
  font-size: 100px;
  position: absolute;
  top: 150px;
  z-index: 100;

  &:hover {
    color: rgba(255, 255, 255, .8);
  }

  .image-carousel--full-bleed & {
    margin-top: 20%;
    top: 0;
  }
}

.carousel-arrow--prev {
  left: 10px;
}

.carousel-arrow--next {
  right: 10px;
}
