/* VARIABLES */

// Primary colors
$pitch-black: #000;
$dark-grey: #424242;
$grey: #919191;
$ekuatorial-red: #B71C1C;
$white: #FFF;

// Secondary colors
$light-grey: #E0E0E0;

// Font families
$alegreya: 'Alegreya', serif;
$alegreya-sans: 'Alegreya Sans', sans-serif;
$alegreya-sans-sc: 'Alegreya Sans SC', sans-serif;
$francois-one: 'Francois One', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// Media query breakpoints
$medium: "only screen and (min-width: 640px)";