/**
 *
 * Main stylesheet for GFW Ekuatorial Media Packages Intro Page.
 *
 * @author Ekuatorial Team
 *
 * Ekuatorial.com (2014)
 *
 */

@import "compass/css3";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.intro-container {
  height: 100%;
  width: 100%;
}

.intro-video {
  // Full page video background: http://demosthenes.info/blog/777/Create-Fullscreen-HTML5-Page-Background-Video
  background: url('../../videos/posters/intro-bg.jpg') no-repeat;
  background-size: cover;

  min-width: 100%;
  min-height: 100%;

  width: auto;
  height: auto;

  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -100;
}

.intro-overlay {
  background: rgba(0, 0, 0, .7);
  height: 100%;
  position: absolute;
  width: 100%;
}

/// Maps ///

.intro-maps {
  height: 484px;
  margin: 250px auto 0; // NOTE: Temporary top margin
  position: relative;
  width: 1202px;
}

%intro-map {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
}

.map-indonesia {
  @extend %intro-map;
  display: block;
  z-index: 10;
}

.map-aceh {
  @extend %intro-map;
}

.map-riau {
  @extend %intro-map;
}

.map-kalteng {
  @extend %intro-map;
}

.map-papua {
  @extend %intro-map;
}

/// Pins ///

.map-pin {
  @include border-radius(100px);
  background: #000;
  border: 4px solid rgba(0, 0, 0, .5);
  // Required for transparent border with opaque background color
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  display: none;
  height: 18px;
  position: absolute;
  width: 18px;
  z-index: 30;

  &:before {
    @include border-radius(100px);
    background: #000;
    border: 4px solid #FFF;
    content: ".";
    height: 4px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 4px;
    text-indent: -9999px;
    z-index: 32;
  }
}

.map-pin-aceh {
  left: 38px;
  top: 57px;
}

.map-pin-riau {
  left: 153px;
  top: 160px;
}

.map-pin-kalteng {
  left: 467px;
  top: 226px;
}

.map-pin-papua {
  left: 975px;
  top: 212px;
}

.pin-line {
  background: #000;
  display: none;
  height: 90px;
  left: 7px;
  position: absolute;
  top: -80px;
  width: 4px;
  z-index: 31;
}

.pin-text {
  @include border-radius(5px);
  background: #000;
  display: none;
  font-family: "Alegreya Sans SC", sans-serif;
  padding: 8px 10px;
  position: absolute;
  text-align: center;
  top: -114px;
  white-space: nowrap;

  a {
    color: #F44336;
    text-decoration: none;
  }

  .map-pin-aceh & {
    left: -16px;
  }

  .map-pin-riau & {
    left: -36px;
  }

  .map-pin-kalteng & {
    left: -27px;
  }

  .map-pin-papua & {
    left: -22px;
  }
}


