/**
 *
 * Main stylesheet for GFW Ekuatorial Media Packages Intro Page.
 *
 * @author Ekuatorial Team
 *
 * Ekuatorial.com (2014)
 *
 */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.intro-container {
  height: 100%;
  width: 100%;
}

.intro-video {
  // Full page video background: http://demosthenes.info/blog/777/Create-Fullscreen-HTML5-Page-Background-Video
  background: url('../../videos/posters/intro-bg.jpg') no-repeat;
  background-size: cover;

  min-width: 100%;
  min-height: 100%;

  width: auto;
  height: auto;

  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -100;
}

.intro-maps {
  height: 484px;
  margin: 0 auto;
  position: relative;
  width: 1202px;
}

%intro-map {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
}

.map-indonesia {
  @extend %intro-map;
  display: block;
  z-index: 10;
}

.map-aceh {
  @extend %intro-map;
}

.map-riau {
  @extend %intro-map;
}

.map-kalteng {
  @extend %intro-map;
}

.map-papua {
  @extend %intro-map;
}
