/**
 *
 * Main stylesheet for GFW Ekuatorial Media Packages Intro Page.
 *
 * @author Ekuatorial Team
 *
 * Ekuatorial.com (2014)
 *
 */
/* VARIABLES */
/* line 14, ../scss/intro.scss */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 22, ../scss/intro.scss */
.intro-container {
  height: 100%;
  width: 100%;
}

/* line 27, ../scss/intro.scss */
.intro-video {
  background: url("../../videos/posters/intro-bg.jpg") no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -100;
}

/* line 44, ../scss/intro.scss */
.mute-button {
  -moz-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background: url("../img/icons.png") no-repeat;
  background-position: 6px -85px;
  cursor: pointer;
  height: 70px;
  opacity: 0.7;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 72px;
  z-index: 200;
}
/* line 58, ../scss/intro.scss */
.mute-button.muted {
  background-position: -13px 8px;
}
/* line 62, ../scss/intro.scss */
.mute-button:hover {
  opacity: 0.3;
}

/* line 67, ../scss/intro.scss */
.intro-overlay {
  min-height: 100%;
  position: absolute;
  width: 100%;
}

/* line 73, ../scss/intro.scss */
.intro-branding__logo {
  background: url("../img/ekuatorial-logo-grey.png") no-repeat;
  height: 50px;
  margin: 50px auto 12px;
  text-indent: -9999px;
  width: 33px;
}

/* line 81, ../scss/intro.scss */
.intro-branding__text {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 18px;
  margin: 0;
  text-align: center;
}

/* line 90, ../scss/intro.scss */
.intro-heading h1,
.intro-heading h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  letter-spacing: 5px;
  line-height: 60px;
  margin: 5px 0 40px;
  text-align: center;
  text-transform: uppercase;
}
/* line 102, ../scss/intro.scss */
.intro-heading h2 {
  font-size: 28px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 2px;
  margin: 30px 0 5px;
}

/* line 112, ../scss/intro.scss */
.intro-maps {
  height: 484px;
  margin: 0 auto 0;
  position: relative;
  width: 1202px;
}
/* line 118, ../scss/intro.scss */
.intro-maps img {
  opacity: .3;
}

/* line 123, ../scss/intro.scss */
.map-indonesia, .map-aceh, .map-riau, .map-kalteng, .map-papua {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
}

/* line 131, ../scss/intro.scss */
.map-indonesia {
  display: block;
  z-index: 10;
}

@-moz-keyframes pin-anim {
  0% {
    -moz-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
  }
  20% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes pin-anim {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
  }
  20% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes pin-anim {
  0% {
    -moz-transform: scale(0.2, 0.2);
    -ms-transform: scale(0.2, 0.2);
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
  }
  20% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
/* line 164, ../scss/intro.scss */
.map-pin {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -moz-animation: pin-anim 2s linear 0.5s infinite;
  -webkit-animation: pin-anim 2s linear 0.5s infinite;
  animation: pin-anim 2s linear 0.5s infinite;
  background: #000;
  border: 4px solid rgba(0, 0, 0, 0.5);
  display: block;
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
  height: 18px;
  opacity: 1;
  position: absolute;
  width: 18px;
  z-index: 30;
}
/* line 180, ../scss/intro.scss */
.map-pin:before {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background: #000;
  border: 4px solid #FFF;
  content: ".";
  height: 4px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 4px;
  text-indent: -9999px;
  z-index: 32;
}
/* line 194, ../scss/intro.scss */
.map-pin.active {
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
  opacity: 1;
}

/* line 200, ../scss/intro.scss */
.map-pin-aceh {
  left: 38px;
  top: 57px;
}

/* line 205, ../scss/intro.scss */
.map-pin-riau {
  left: 153px;
  top: 160px;
  z-index: 100;
}

/* line 211, ../scss/intro.scss */
.map-pin-tesso {
  left: 193px;
  top: 140px;
}

/* line 216, ../scss/intro.scss */
.map-pin-kalteng {
  left: 467px;
  top: 226px;
}

/* line 221, ../scss/intro.scss */
.map-pin-papua {
  left: 975px;
  top: 212px;
}

/* line 226, ../scss/intro.scss */
.pin-boxes {
  position: absolute;
  top: -55px;
}
/* line 230, ../scss/intro.scss */
.map-pin-papua .pin-boxes {
  top: -75px;
}

/* line 235, ../scss/intro.scss */
.pin-box {
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  -moz-box-shadow: 1px 8px 20px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 8px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 8px 20px rgba(0, 0, 0, 0.3);
  font-family: "Alegreya Sans SC", sans-serif;
  overflow: hidden;
  padding: 3px 0;
  position: relative;
  white-space: nowrap;
  width: 0;
}
/* line 245, ../scss/intro.scss */
.pin-box span {
  -moz-transition: width 0.3s 0.2s;
  -o-transition: width 0.3s 0.2s;
  -webkit-transition: width 0.3s;
  -webkit-transition-delay: 0.2s;
  transition: width 0.3s 0.2s;
  display: block;
  overflow: hidden;
  margin: 0 7px;
  width: 0;
}

/* line 255, ../scss/intro.scss */
.map-pin.active .pin-box-wide, .map-pin.active .pin-box-wide span, .pin-box-wide .map-pin.active span {
  width: 320px;
}
/* line 259, ../scss/intro.scss */
.map-pin-kalteng.active .pin-box-wide, .map-pin-kalteng.active .pin-box-wide span, .pin-box-wide .map-pin-kalteng.active span {
  width: 360px;
}

/* line 264, ../scss/intro.scss */
.pin-box-wide {
  background: white;
  color: black;
  margin-bottom: 1px;
}
/* line 269, ../scss/intro.scss */
.map-pin-papua .pin-box-wide {
  white-space: normal;
}

/* line 280, ../scss/intro.scss */
.pin-box-narrow {
  background: black;
  color: white;
  float: left;
}
/* line 285, ../scss/intro.scss */
.map-pin.active .pin-box-narrow {
  width: 55px;
}
/* line 290, ../scss/intro.scss */
.map-pin.active .pin-box-narrow span {
  width: 55px;
}

/* line 296, ../scss/intro.scss */
.pin-box-small {
  background: #B71C1C;
  color: white;
  float: left;
}
/* line 301, ../scss/intro.scss */
.map-pin.active .pin-box-small {
  width: 130px;
}
/* line 306, ../scss/intro.scss */
.map-pin.active .pin-box-small span {
  width: 130px;
}
