/**
 *
 * Main stylesheet for GFW Ekuatorial Media Packages Intro Page.
 *
 * @author Ekuatorial Team
 *
 * Ekuatorial.com (2014)
 *
 */
/* VARIABLES */
/* line 14, ../scss/intro.scss */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 22, ../scss/intro.scss */
.intro-container {
  height: 100%;
  width: 100%;
}

/* line 27, ../scss/intro.scss */
.intro-video {
  background: url("../../videos/posters/intro-bg.jpg") no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -100;
}

/* line 44, ../scss/intro.scss */
.intro-overlay {
  background: rgba(0, 0, 0, 0.7);
  min-height: 100%;
  padding-bottom: 80px;
  position: absolute;
  width: 100%;
}

/* line 52, ../scss/intro.scss */
.intro-branding__logo {
  background: url("../img/ekuatorial-logo-grey.png") no-repeat;
  height: 50px;
  margin: 50px auto 12px;
  text-indent: -9999px;
  width: 33px;
}

/* line 60, ../scss/intro.scss */
.intro-branding__text {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 18px;
  margin: 0;
  text-align: center;
}

/* line 69, ../scss/intro.scss */
.intro-heading h1 {
  color: white;
  font-family: "Alegreya", serif;
  font-size: 60px;
  line-height: 60px;
  margin: 30px 0 35px;
  text-align: center;
  text-transform: uppercase;
}

/* line 82, ../scss/intro.scss */
.intro-maps {
  height: 484px;
  margin: 0 auto 0;
  position: relative;
  width: 1202px;
}

/* line 89, ../scss/intro.scss */
.map-indonesia, .map-aceh, .map-riau, .map-kalteng, .map-papua {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
}

/* line 97, ../scss/intro.scss */
.map-indonesia {
  display: block;
  z-index: 10;
}

/* line 121, ../scss/intro.scss */
.map-pin {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background: #000;
  border: 4px solid rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
  display: none;
  height: 18px;
  position: absolute;
  width: 18px;
  z-index: 30;
}
/* line 134, ../scss/intro.scss */
.map-pin:before {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background: #000;
  border: 4px solid #FFF;
  content: ".";
  height: 4px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 4px;
  text-indent: -9999px;
  z-index: 32;
}

/* line 149, ../scss/intro.scss */
.map-pin-aceh {
  left: 38px;
  top: 57px;
}

/* line 154, ../scss/intro.scss */
.map-pin-riau {
  left: 153px;
  top: 160px;
}

/* line 159, ../scss/intro.scss */
.map-pin-kalteng {
  left: 467px;
  top: 226px;
}

/* line 164, ../scss/intro.scss */
.map-pin-papua {
  left: 975px;
  top: 212px;
}

/* line 169, ../scss/intro.scss */
.pin-line {
  background: #000;
  display: none;
  height: 90px;
  left: 7px;
  position: absolute;
  top: -80px;
  width: 4px;
  z-index: 31;
}

/* line 180, ../scss/intro.scss */
.pin-text {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #000;
  display: none;
  font-family: "Alegreya Sans SC", sans-serif;
  padding: 8px 10px;
  position: absolute;
  text-align: center;
  top: -114px;
  white-space: nowrap;
}
/* line 191, ../scss/intro.scss */
.pin-text a {
  color: #F44336;
  text-decoration: none;
}
/* line 196, ../scss/intro.scss */
.map-pin-aceh .pin-text {
  left: -16px;
}
/* line 200, ../scss/intro.scss */
.map-pin-riau .pin-text {
  left: -36px;
}
/* line 204, ../scss/intro.scss */
.map-pin-kalteng .pin-text {
  left: -27px;
}
/* line 208, ../scss/intro.scss */
.map-pin-papua .pin-text {
  left: -22px;
}

/* line 215, ../scss/intro.scss */
.intro-summary {
  color: white;
  margin: 30px auto 0;
  width: 750px;
}

/* line 221, ../scss/intro.scss */
.summary-date {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
}

/* line 228, ../scss/intro.scss */
.summary-heading {
  font-family: "Alegreya", serif;
  font-style: italic;
  font-size: 30px;
  margin: 10px 0 5px;
  text-transform: uppercase;
}

/* line 236, ../scss/intro.scss */
.summary-text {
  font-family: "Alegreya", serif;
  font-size: 26px;
  font-style: italic;
  line-height: 1.2em;
  margin: 0;
}

/* line 245, ../scss/intro.scss */
.typed-cursor {
  font-size: 26px;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
